/* ********** Import fonts *********** */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Amatic SC", cursive;
}

.main-container {
  text-align: center;
}

#main-title {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  font-size: 4rem;
  margin: 10px 0;
}

#score-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 40px 0;
}

#score {
  font-size: 4rem;
  font-weight: 400;
}

.icon-holder {
  display: flex;
  justify-content: center;
}

.icons {
  height: 200px;
  width: 400px;
  transform: rotate(20deg);
  fill: black;
  transition: ease-in-out 0.4s;
}

.icons:hover {
  transform: rotate(40deg);
  height: 250px;
  width: 450px;
  fill: rgba(71, 214, 55, 0.943);
}
