/* ********** Import fonts *********** */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Amatic SC", cursive;
  background-color: rgba(249, 247, 245, 0.799);
  font-size: 1.8rem;
}

.main-container {
  text-align: center;
}

#main-title {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  font-size: 4rem;
}

.labels {
  font-weight: 700;
  margin: 0 15px;
}

#choices-container {
  margin: 12px 0;
}

#score-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
}

#score {
  font-size: 4rem;
  font-weight: 400;
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
}

.icons {
  height: 100px;
  width: 200px;
  transform: rotate(20deg);
  fill: black;
  transition: ease-in-out 0.4s;
}

.icons:hover {
  transform: rotate(40deg);
  height: 125px;
  width: 250px;
  fill: rgba(71, 214, 55, 0.943);
}

.computer-score {
  margin-left: 50px;
}
.user-score {
  margin-right: 50px;
}
